[submodule "external/zstr"]
	path = external/zstr
	url = https://github.com/mateidavid/zstr
[submodule "external/plustache"]
	path = external/plustache
	url = https://github.com/mrtazz/plustache
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson/
