<rect x="{{left}}" width="{{width}}" y="{{top}}" height="{{height}}" style="stroke-width:3;stroke:rgb(0,0,0);fill:rgb(254,254,254)" id="{{name}}_box" >
</rect>
<text x="{{label_left}}" y="{{label_top}}" font-family="Verdana" font-size="14">
    {{name}}
</text>
